body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}

h1 {

    color: goldenrod;
    font-size: 60px;
}

#message-el {
    font-style: italic;
    font-size: 28px;
}

#cards-el {
    font-size: 20px;
}

#sum-el {
    font-size: 20px;
}

.refresh-btn {
    position: absolute;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 8px;
    font-size: 15px;
}

button:hover {
    border: 1px solid black;
    background-color: aliceblue;
    color: black;
}


div {
    display: grid;
    justify-content: center;
}